.container-chat {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #345a62;
    font-weight: bold;
    transition: margin-left 0.3s ease;
}

button {
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    background-color: #c3ebeb;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.top {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #345a62;
    gap: 10px;
}

.account {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.header-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.popup {
    position: fixed;
    top: 150px;
    right: 20px;
    background-color: #1d3162;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1002;
}

.weather-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.weather-buttons,
.control-buttons {
    display: flex;
    gap: 10px;
}

.control-buttons {
    margin-left: auto;
}

.weather-section {
    display: flex;
    width: 100%;
    margin: 20px auto;
    align-items: center;
}

.weather-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.weather-data p {
    text-transform: lowercase;
}

.control-buttons {
    margin-left: auto;
}

.container-chat button {
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    cursor: pointer;
}

header button {
    color: #5c3707;
}

.weather-controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0 0 0;
}

.weather-buttons button {
    font-size: 18px;
}

.spotify-button {
    bottom: 20px;
    right: 40px;
    position: absolute;
    cursor: pointer;
    margin-left: auto;
    background: none;
    border: none;
    color: #7fef4e;
}

.sidebar {
    width: 250px;
    background-color: #bb8444;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.sidebar-closed {
    transform: translateX(-100%);
}

.container-chat.sidebar-open {
    margin-left: 250px;
}

.toggle {
    top: 80px;
    left: 20px;
}

.sidebar-button {
    left: 40px;
    top: 230px;
    position: absolute;
    cursor: pointer;
    margin-right: auto;
    background: none;
    border: none;
}

.model {
    flex: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FCF0CC;
    margin: 260px 120px 120px 120px;
    padding: 0 40px;
}

.outfit-description {
    list-style-type: disc; 
    padding-left: 40px; 
    margin-top: 0; 
    padding-right:40px;
}

h1 {
    color: #07255c;
}

.spotify-sidebar {
    position: fixed;
    right: 120px;
    bottom: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.spotify-sidebar iframe {
    border: none;
    bottom: 0px;
}