.container-chat {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #345a62;
    font-weight: bold;
    transition: margin-left 0.3s ease;
}

button {
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    background-color: #c3ebeb;
    position: fixed;
    /* Fix the header at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.top {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #345a62;
    gap: 10px;
    /* Border between top and bottom sections */
}

.account {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.header-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
    /* Align header buttons to the right */
}

.weather-controls {
    display: flex;
    justify-content: space-between;
    /* Ensure buttons are spaced out evenly */
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.weather-buttons,
.control-buttons {
    display: flex;
    gap: 10px;
}

.control-buttons {
    gap: 10px;
    margin-left: auto;
}

.container-chat button {
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    cursor: pointer;
}

header button {
    color: #5c3707;
}

.weather-buttons button {
    font-size: 18px;
}

.spotify-button {
    bottom: 20px;
    right: 40px;
    position: absolute;
    cursor: pointer;
    margin-left: auto;
    background: none;
    border: none;
    color: #7fef4e;
}

.sidebar {
    width: 250px;
    background-color: #bb8444;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.sidebar-closed {
    transform: translateX(-100%);
}

.container-chat.sidebar-open {
    margin-left: 250px;
}

.toggle {
    top: 80px;
    left: 20px;
}

.sidebar-button {
    left: 40px;
    top: 220px;
    position: absolute;
    cursor: pointer;
    margin-right: auto;
    background: none;
    border: none;
}

.model {
    flex: 1;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FCF0CC;
    margin: 200px 120px 0 120px;
    margin: 260px 120px 80px 120px;
}

h1 {
    color: #07255c;
}